:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --primary-color: #440058;
  --secondary-color: #E65100;
  --light-orange: #e65100d0;
  --dark-lime-green: #28A745;
  --black: #000000;
  --pink: #B04398;
  --yellow: #FDCD08;
  --white: #FFFFFF;
  --light-blue: #F1F5F9;
  --light-bg: #f6f6f6;
  --gray: gray;
  --light-black: rgb(42, 42, 42);

  --new-yellow: #FAAB1E;
  --new-pink: #B04398;
  --new-skyBlue: #18A1DB;
  --new-violet: #60439A;

  /* --n-orange1: #FE9000; */
  /* Princeton Orange */
  --n-orange2: #F9A620;
  /* orange(web) */
  --n-orange3: #F58F29;
  /* Dark-orange(Web) */
  --n-orange4: #FAA916;
  /* orange(Web) */
  --n-orange5: #FFB238;
  /* orange(Web) */
  --n-orange6: #FABC3C;
  /* Xanthous*/

  --n-orange1: #FAAB1E;

  /* web app focused on astrology, zodiac, or calendars, the color palette */

  --gpt-midnight-blue: #003366;
  --gpt-deep-purple: #4B0082;
  --gpt-lavender: #E6E6FA;
  --gpt-emerald-green: #50C878;
  --gpt-gold: #FFD700;
  --gpt-silver: #C0C0C0;
  --gpt-charcoal: #333333;
  --gpt-ivory: #FFFFF0;
  --gpt-coral: #FF7F50;
  --gpt-teal: #008080;



}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
}

.bg-main-orange {
  background-color: var(--n-orange1);
}

.color-main-orange {
  color: var(--n-orange1);
}

.bg-yearmonth{
background-image: linear-gradient(to bottom, #FF7F50, #FAAB1E)
}

.bg-subhead {
  background-image: linear-gradient(to right, #b24e4e, #A55393);
}

.bg-date{
  background-image: linear-gradient(45deg, #7C9FC2, #188F8F);
}

.color-tmonth{
  color: #188F8F;
}
.color-tyear{
  color: #7C9FC2;
}